<%- include('partials/header') %>
<section class="py-20 px-4 min-h-[calc(100vh-100px)] flex items-center">
  <div class="container mx-auto max-w-screen-md text-center">
    <h2 class="text-5xl font-extrabold text-white mb-8" data-aos="fade-up">Entre em contato com<br>DJ Akyam</h2>
    <p class="text-gray-400 text-lg mb-12" data-aos="fade-up">Para bookings, colaborações ou mais informações, escolha uma das opções abaixo:</p>
    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-8" data-aos="fade-up">
      <a href="https://wa.me/+5519999880296" target="_blank" class="flex items-center justify-center w-full md:w-1/3 bg-green-500 hover:bg-green-600 text-white font-bold py-4 rounded-lg transition duration-300">
        <i class="fab fa-whatsapp text-2xl mr-2"></i>
        <span>WhatsApp</span>
      </a>
      <a href="https://www.instagram.com/djakyam/" target="_blank" class="flex items-center justify-center w-full md:w-1/3 bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-bold py-4 rounded-lg transition duration-300">
        <i class="fab fa-instagram text-2xl mr-2"></i>
        <span>Instagram</span>
      </a>
      <a href="mailto:acessoriaakyam@gmail.com" class="flex items-center justify-center w-full md:w-1/3 bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 rounded-lg transition duration-300">
        <i class="fas fa-envelope text-2xl mr-2"></i>
        <span>Email</span>
      </a>
    </div>
  </div>
</section>
<%- include('partials/footer') %>